@using AgilleApi.Domain.Enums
@model AgilleApi.Domain.ViewModel.ForwardingTermNoticeModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <title>Termo de encaminhamento</title>
</head>

<body>
    <table>
        <tr style="vertical-align: middle; width: 100%;">
            <td colspan="1">
                <div style="vertical-align: middle;">
                    <img src="@Model.Image" alt="logo"style="width:90px;height:90px;">
                </div>
            </td>
            <td colspan="4">
                <div colspan style="vertical-align: middle;">
                    <h2>Prefeitura Municipal de @Model.EntityName - @Model.StateInitials</h2>
                    <h3>Termo de encaminhamento de processo a RFB @Model.WithObjectionText impugnação.</h3>
                </div>
            </td>
        </tr>
    </table>
    
    <div style="width: 100%">
        Processo Nº: @Model.ProcessNumber<br>
        Documento Nº: @Model.DocumentNumber <br>
        Sujeito Passivo: @Model.SubjectName <br>
        CIB: @Model.ProprietyCib <br>
        CPF/CNPJ: @Model.SubjectDocument <br>
    </div>
    
    <br>
    
    <div>
        <h1 style="text-align: center;">
            Termo de encaminhamento processual
        </h1>
        
        <p style="text-align: justify;">
            Formalizada a exigência de crédito tributário referente ao Imposto sobre a
            Propriedade Territorial Rural, Mediante a @(Model.Type.GetDescription()) nº @Model.DocumentNumber e seus anexos, de folhas
            @Model.HomePageNumber a @Model.FinalPageNumber, e transcorrido o prazo previsto no art 15 do Decreto nº 70.235/72 sem que o sujeito
            passivo tenha apresentado impugnação, proponho o envio do processo à unidade da Secretaria da Receita Federal do
            Brasil de jurisdição deste município, para as providências cabíveis.
        </p>
    </div>
    
    <br><br><br><br><br>
    
    @{
        var now = DateTime.UtcNow.AddHours(-3);
    }

    <div>
        <p style="text-align: right;">@Model.EntityName, @Model.StateInitials, @now.ToString("d' de 'MMMM' de 'yyyy")</p>
    </div>
    
    <br>
    
    <footer style="bottom: 0; width: 100%;">
        <div style="text-align: right;">
            <hr size="3" width="20%" align="right" style="background-color: black;">@Model.Auditor 
            <br>
            Auditora(or) Fiscal 
            <br>--- <br>
        </div>
        
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <div>
            <div style="text-align: left; float:left">Folha @Model.AtualPageNumber</div>
            <div style="text-align: right; float:right">@now.ToString("dd/MM/yyyy HH:mm") &nbsp</div>
        </div>
    </footer>          
</body>
</html>